

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Companias - Gestión Militar</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
<header th:replace="fragments/navbar :: navbar_militar"></header>

<div class="search-container">
    <h2 class="search-title">Búsqueda por Identificador</h2>

    <form th:action="@{${targetAction}}" th:object="${companiaDto}" method="post">
        <div class="form-group-custom">
            <label>Código ID de la compania:</label>
            <input type="number" th:field="*{id}" class="input-militar" placeholder="Ej: 101" required>
        </div>
        <button type="submit" class="btn-buscar-militar">Consultar Registro</button>
    </form>

    <div th:if="${compania != null}" class="militar-result-card">
        <h3>Ficha de la compania Militar</h3>
        <p><strong>Número de Compania:</strong> <span th:text="${compania.id}"></span></p>
        <p><strong>Actividad Principal:</strong> <span th:text="${compania.actividadPrincipal}"></span></p>
    </div>

    <div th:if="${error != null}" class="error-msg-militar">
        <p th:text="${error}"></p>
    </div>
</div>
<script>
    lucide.createIcons();
</script>
</body>
</html>